<config>

 <loadgame>ultima6</loadgame>

 <datadir>./data</datadir>

 <general>
  <lighting>original</lighting>
 </general>

 <video>
  <scale_method>Point</scale_method>
  <scale_factor>2</scale_factor>
 </video>

 <ultima6>
  <gamedir>./ultima6</gamedir>
  <skip_intro> no </skip_intro>
  <show_eggs> yes </show_eggs>
 </ultima6>

 <martian>
  <gamedir>./martian</gamedir>
  <skip_intro> no </skip_intro>
 </martian>

 <savage>
  <gamedir>./savage</gamedir>
  <skip_intro> no </skip_intro>
 </savage>

</config>
